h2{
  text-align: center;
}

#newaccount, #existingaccount{
  width: 40%;
  float: left;
  border: 1px solid black;
  margin: 30px;
  height: 300px;
}

label, select, button{
  display: block;
  margin: 25px;
}

nav li{
  list-style-type: none;
}
