body{
  background-image: url('/img/gray_bkgd.png');
}

h2{
  text-align: center;
}

#newaccount, #existingaccount{
  width: 40%;
  float: left;
  margin: 30px;
  height: 300px;
  background-color: white;
}

.input-group:first-child{
  margin-bottom: 20px;
}

.submit{
  position: absolute;
  bottom: 30px;
  margin: auto;
}

label, select, button{
  display: block;
  margin: 25px;
}

nav li{
  list-style-type: none;
}
