extends ../shared/template

block content
  h1= course.title
  h2= course.description

  button.add-content Add Card

  form#content(action='/creators/courses/#{course._id}/content', method='post')
    button.submit-content Submit Course Content
    .content-item(style='display: block;')
      .front(style='display: inline-block;')
        Label Front of Card:
        textarea(name='front', style='width: 200px; height: 100px;', placeholder='What is JavaScript?')
      .back(style='display: inline-block;')
        Label Back of Card:
        textarea(name='back', style='width: 200px; height: 100px;', placeholder='An object-oriented computer programming language...')
      button.delete(style='display: inline-block;') X



block scripts
  script(src='/js/es6/compiled/createcontent.js')
