extends ../shared/template

block content
  h1= title

  div
    button#add Add Question

  form#test(action='/creators/courses/#{courseId}/test', method='POST')
    button#save Save Test
    div.question(data-num=1)
      label(for='q') Question:
        input.q(type='textarea', name='q', placeholder='Question')
      label(for='a') A:
        input.a(type='text', name='a', placeholder='Answer')
      label(for='b') B:
        input.b(type='text', name='b', placeholder='Answer')
      label(for='c') C:
        input.c(type='text', name='c', placeholder='Answer')
      label(for='d') D:
        input.d(type='text', name='d', placeholder='Answer')
      label(for='correct') Correct Answer:
        select.correct(name='correct')
          option Select the Correct Answer
          option(value='a') A
          option(value='b') B
          option(value='c') C
          option(value='d') D

      a.nuke(href='#') x



block scripts
  script(src='/js/es6/compiled/createtest.js')
