extends ../shared/template

block content

  h1 Course Name
  h2 Course Description

  a(href='/creators/courses/#{courseId}/content') Create Content
  a(href='/creators/courses/#{courseId}/test') Create Test
