extends ../shared/template

block content
  h1 Test

  form(action='/learners/courses/#{courseId}/test', method='post')
    select(name='answer')
      option a
      option b
      option c
      option d
    select(name='answer')
      option a
      option b
      option c
      option d
    select(name='answer')
      option a
      option b
      option c
      option d
    select(name='answer')
      option a
      option b
      option c
      option d
    select(name='answer')
      option a
      option b
      option c
      option d
    button Submit
